/* Custom styles for Payload Admin Panel */

/* You can customize the admin panel appearance here */

/* Example: Custom primary color */
// :root {
//   --theme-elevation-0: #ffffff;
//   --theme-elevation-50: #f7f7f7;
//   --theme-elevation-100: #efefef;
//   --theme-elevation-150: #e8e8e8;
//   --theme-elevation-200: #dfdfdf;
//   --theme-elevation-250: #d8d8d8;
//   --theme-elevation-300: #cfcfcf;
//   --theme-elevation-350: #c8c8c8;
//   --theme-elevation-400: #bfbfbf;
//   --theme-elevation-450: #b8b8b8;
//   --theme-elevation-500: #afafaf;
//   --theme-elevation-550: #a8a8a8;
//   --theme-elevation-600: #9f9f9f;
//   --theme-elevation-650: #989898;
//   --theme-elevation-700: #8f8f8f;
//   --theme-elevation-750: #888888;
//   --theme-elevation-800: #7f7f7f;
//   --theme-elevation-850: #787878;
//   --theme-elevation-900: #6f6f6f;
//   --theme-elevation-950: #686868;
//   --theme-elevation-1000: #5f5f5f;
// }
